.faqs__title
{
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #495567;
    text-align: center;
}
.faqs__how
{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #495567;
    width: 350px;
}
.faqs__textt
{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #495567;
    background-color: #F2F5F9;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    padding-right: 340px;
}
.faqs__text
{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    padding: 32px 40px;
    padding-right: 300px;
    font-weight: 700;
    color: #495567;
    background-color: #F2F5F9;
    position: relative;
    border: none;
    margin-bottom: 20px;

    &:hover
    {
        background-color: #FFF4DF;
    }
    &::after
    {
        content: '';
        position: absolute;
        background: url("../img/pastga.png") no-repeat center center;
        width: 16px;
        height: 8px;
        top: 40px;
        right: 40px;
        cursor: pointer;
    }
}
// @keyframes mymove {
//     0% {transform: rotate(5deg) translateY(0%);}
//     50% {transform: rotate(-5deg) translateY(30%);}
//     100% {transform: rotate(3deg) translateY(50%);}
//   }
.faqs__paragrif
{
    font-size: $size;
    line-height: $olchami;
    font-weight: 400;
    color: #495567;
    @include font;
    width: 650px;
    border: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 20px;
    // animation: mymove 0.5s normal;
}
.faqs__item
{
    display: flex;
}
.faqs__wrapp
{
    margin-top: 30px;
    background-color: #F2F5F9;
    padding: 32px 40px;
    position: relative;
    border: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 20px;

    &::after
    {
        content: '';
        position: absolute;
        background: url("../img/tepaga.png") no-repeat center center;
        width: 16px;
        height: 8px;
        top: 64px;
        right: 40px;
        cursor: pointer;
    }
}
.faqs__wrapp--active .faqs__paragrif
{
    display: block;
}
.faqs__paragrif
{
    display: none;
}

@media screen and (max-width: 1105px)
{
    .faqs__item
    {
        flex-direction: column;
        align-items: center;
    }
    .faqs__textt
    {
        padding-right: 270px;
    }
    .faqs__paragrif
    {
        width: 572px;
    }
    .faqs__text
    {
        padding-right: 226px;
    }
}
@media screen and (max-width: 690px)
{
    .faqs__how
    {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1px;
        text-align: center;
        width: auto;
    }
    .faqs__textt
    {
        width: auto;
        font-size: 18px;
        line-height: 24px;
        padding-right: 28px;
        width: 219px;
    }
    .faqs__paragrif
    {
        width: 219px;
        line-height: 25px;
        font-size: 15px;
    }
    .faqs__title
    {
        font-size: 32px;
        line-height: 32px;
    }
    .faqs__wrapp
    {
        text-align: left;

        &::after{
            top: 65px;
            right: 50px;
        }
    }
    .faqs__text
    {
        width: auto;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        padding: 32px 44px 32px 32px;

        &::after
        {
            right: 18px;
        }
    }
    
}