.footer
{
    background-color: #333A44;
}
.footer__container
{
    padding: 32px 0;
    display: flex;
    align-items: center;
}
.footer__nav-list
{
    display: flex;
    margin-left: auto;
}
.footer__nav-list-item
{
    padding-left: 24px;
}
.footer__svg
{
    fill: #ccc;
}

@media screen and (max-width: 690px)
{
    .footer__container
    {
        display: block;
        padding-top: 64px;
    }
    .footer__nav-list
    {
        margin-left: 87px;
        padding-bottom: 88px;
    }
    .footer__logo{
        margin-left: 120px;
    }
    .footer__list-link
    {
        display: block;
    }
    
}